
# Should be the URL that the browser will provide you with
# Instead of /PHP 2025/PHP Template/public/index.php/
# Use of /PHP%202025/PHP%20Template/public/index.php/
# bcz the latter is the that will be matched to $_SERVER['REQUEST_URI']
APP_URL = ""

DB_HOST = "" 
DB_PORT = ""
DB_NAME = ""
DB_USERNAME = ""
DB_PASSWORD = "" 